<a href="https://colab.research.google.com/github/Vijayg143/FMML-projects/blob/main/Basic_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python

                        
#  Interductin to Python

* **Python is an object orented and open source language developead in the 1980s by dutchman Guido van rossun.**
* **van rossum used to work at CWI as in implementer of the programming lauguage call ABC.**
***van rossum started lokking for a scripting launguages with a syntax like ABC.**
* **Back in 1970s there was A POPULAR BBC comedy tv show called Monty pythons fly circus and van rossum happend to be the big fan of that show .**


# Use of python

**Web Development:**

Frameworks like Django and Flask help in building web applications efficiently.

Python can be used on a server to create web applicatins.

**Data Analysis and Visualization:**

Libraries like Pandas, NumPy, Matplotlib, and Seaborn make it easy to analyze and visualize data.

**Game Development:**

Libraries such as Pygame provide functionality for game development.


**Education:**

Python’s simplicity makes it a great language for teaching programming and computer science.


**Robotics:**

Python is used in robotics for developing algorithms, controlling hardware, and interfacing with sensors.**


**Finance:**

Used for quantitative finance, algorithmic trading, and financial data analysis.

# Advantages of Python

**Easy to Read and Write:**

Python has a simple syntax that mimics natural language, making it easier to read and write compared to other programming languages.

**Interpreted Language:**

Python is an interpreted language, which means that code can be executed line by line, making debugging and testing easier.

**Integration Capabilities:**

Python can easily integrate with other languages and technologies, such as C, C++, Java, and .NET, as well as with web services and APIs.

**Educational Language:**

Python is often recommended as the first programming language for beginners due to its simplicity and readability, making it an excellent language for educational purposes.

# Comments in Python

# Single-line Comments:

Single-line comments start with the hash symbol "#" and extend to the end of the line.

In [ ]:
# This is a single-line comment
print("Hello, World!")  # This is another single-line comment

# Multi-line Comments:

Multi-line comments can be created using triple quotes (''' or """). Although these are technically string literals, they can be used as comments when not assigned to a variable or used in expressions.

In [ ]:
'''
This is a multi-line comment.
It can span multiple lines.
'''
print("Hello, World!")

"""
Another way to write a multi-line comment.
Useful for larger comments.
"""
print("Hello, again!")

#The Program Development Life Cycle (PDLC)


**Analysis:**

* Gather detailed requirements and understand the problem domain.
* Identify inputs, processes, and outputs.

**Design:**

* Develop a detailed plan for the program’s architecture.
* Create algorithms, flowcharts, and pseudocode to outline the program logic.

**Coding/Implementation:**

* Write the actual code in Python based on the design specifications.

**Testing:**

* Test the program to find and fix errors (bugs).



**Debugging:**

* Identify and correct defects in the code.
* Use debugging tools and techniques, such as print statements, logging, or Python debuggers (pdb).

**Deployment:**

* Prepare the program for release.
* Create installation packages, if necessary.
* Deploy the program to the production environment.

**Maintenance:**

* Monitor the program’s performance and fix any issues that arise.
* Update the program to accommodate changes in requirements or the environment.
* Provide user support and documentation.

# Keywordes


In Python, keywords are reserved words that have special meaning and are used to define the syntax and structure of the Python language. These keywords cannot be used as identifiers (variable names, function names, etc.). There are 35 key wordes,Here's a list of Python keywords:

False

None        

True        

and       

as        

assert

async

await

break

class

continue

def

del

elif

else

except

finally

for

from

global

if

import

in

is

lambda

nonlocal

not

or

pass

raise

return

try

while

with

yield

# Identifiers or variables


Identifiers in Python are names used to identify a variable, function, class, module, or other objects. They are user-defined names used to represent elements in the code. Here are the rules and conventions for naming identifiers in Python:

# Rules for Naming Identifiers


**Allowed Characters:**

* Identifiers can consist of letters (both uppercase and lowercase), digits (0-9), and underscores (_).
* They cannot start with a digit.

In [ ]:
a1 = 10  # Valid
_a = 20  # Valid
print(a1)
print(_a)

10
20

In [ ]:
1a = 30  # Invalid

**Keywords:**

* Identifiers cannot be the same as Python keywords (reserved words) like if, else, for, while, etc

In [ ]:
for = 10  # Invalid
For = 20  # Valid, but not recommended
print(For)

SyntaxError: invalid syntax (<ipython-input-2-4e9047152468>, line 1)

**No Spaces:**

* Identifiers cannot contain spaces. Use underscores to separate words.

In [ ]:
my_variable = 10  # Valid
my variable = 20  # Invalid

# Assignment in variables

In [ ]:
k=10 #Assignment
k=20 #re Assignment
k,t=20,30 #Multiple Assignment
a=b=c=10 #Multiple Assignment

# Python operators

Python operators are special symbols or keywords that perform operations on variables and values. They are used to perform arithmetic, comparison, logical, and bitwise operations. Here’s a summary of the different types of operators in Python:

**1 Arithmetic Operators**

These operators are used for basic arithmetic operations.

Addition (+): Adds two values.

In [ ]:
x = 5 + 3  # x is 8

Subtraction (-): Subtracts the second value from the first.

In [ ]:
x = 10 - 4  # x is 6

Multiplication (*): Multiplies two values.

In [ ]:
x = 7 * 6  # x is 42

Division (/): Divides the first value by the second, returns a float.

In [ ]:
x = 15 / 3  # x is 5.0

Floor Division (//): Divides the first value by the second, returns an integer (removes the decimal part).

In [ ]:
x = 15 // 4  # x is 3

Modulus (%): Returns the remainder of division.

In [ ]:
x = 10 % 3  # x is 1

Exponentiation (**): Raises the first value to the power of the second.

In [ ]:
x = 2 ** 3  # x is 8

**2 Relational Operators**

These operators compare two values and return a boolean result (True or False).

Equal to (==): Checks if two values are equal.

In [ ]:
x = (5 == 5)  # x is True

Not equal to (!=): Checks if two values are not equal.

In [ ]:
x = (5 != 3)  # x is True

Greater than (>): Checks if the first value is greater than the second.

In [ ]:
x = (7 > 5)  # x is True

Less than (<): Checks if the first value is less than the second.

In [ ]:
x = (3 < 5)  # x is True

Greater than or equal to (>=): Checks if the first value is greater than or equal to the second.

In [ ]:
x = (5 >= 5)  # x is True

Less than or equal to (<=): Checks if the first value is less than or equal to the second.

In [ ]:
x = (4 <= 5)  # x is True

 **3 Logical Operators**

These operators are used to combine conditional statements.

And (and): Returns True if both conditions are true.

In [ ]:
x = (5 > 3) and (8 > 6)  # x is True

Or (or): Returns True if at least one of the conditions is true.

In [ ]:
x = (5 > 3) or (8 < 6)  # x is True

Not (not): Returns True if the condition is false.

In [ ]:
x = not (5 > 3)  # x is False

**4 Bitwise Operators**

These operators perform bit-level operations.

AND (&): Performs a bitwise AND operation.

In [ ]:
x = 5 & 3  # x is 1 (binary 0101 & 0011)

OR (|): Performs a bitwise OR operation.

In [ ]:
x = 5 | 3  # x is 7 (binary 0101 | 0011)

XOR (^): Performs a bitwise XOR operation.

In [ ]:
x = 5 ^ 3  # x is 6 (binary 0101 ^ 0011)

NOT (~): Performs a bitwise NOT operation (inverts the bits).

In [ ]:
x = ~5  # x is -6 (binary ~0101)
x

-6

Left Shift (<<): Shifts the bits to the left.

In [ ]:
x = 5 << 1  # x is 10 (binary 0101 << 1)

Right Shift (>>): Shifts the bits to the right.

In [ ]:
x = 5 >> 1  # x is 2 (binary 0101 >> 1)

**5 Assignment Operators**

These operators are used to assign values to variables.

Assign (=): Assigns a value to a variable.

In [ ]:
x = 10

Add and Assign (+=): Adds and assigns a value to a variable.

In [ ]:
x += 5  # Equivalent to x = x + 5

Subtract and Assign (-=): Subtracts and assigns a value to a variable.

In [ ]:
x -= 2  # Equivalent to x = x - 2

Multiply and Assign (*=): Multiplies and assigns a value to a variable.

In [ ]:
x *= 3  # Equivalent to x = x * 3

Divide and Assign (/=): Divides and assigns a value to a variable.

In [ ]:
x /= 4  # Equivalent to x = x / 4

Modulus and Assign (%=): Applies modulus and assigns a value to a variable

In [ ]:
x %= 2  # Equivalent to x = x % 2

Exponent and Assign (**=): Applies exponentiation and assigns a value to a variable.

In [ ]:
x **= 2  # Equivalent to x = x ** 2

Floor Divide and Assign (//=): Applies floor division and assigns a value to a variable.

In [ ]:
x //= 3  # Equivalent to x = x // 3

**6 Membership Operators**

These operators test for membership in a sequence.

In (in): Checks if a value is present in a sequence.

In [ ]:
x = 5
result = x in [1, 2, 3, 4, 5]  # result is True

Not In (not in): Checks if a value is not present in a sequence.

In [ ]:
x = 10
result = x not in [1, 2, 3, 4, 5]  # result is True

**7 Identity Operators**

These operators compare the memory locations of two objects.

Is (is): Checks if two variables point to the same object.

In [ ]:
x = [1, 2, 3]
y = x
result = x is y  # result is True

Is Not (is not): Checks if two variables point to different objects.

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
result = x is not y  # result is True

# Data types

In Python, data types define the kind of data that can be stored and manipulated within a program. Here’s an overview of the fundamental data types in Python:

**1. Numeric Types**

Integer (int): Whole numbers without a decimal point.

In [ ]:
age = 25

Float (float): Numbers with a decimal point.

In [ ]:
temperature = 23.5

Complex (complex): Numbers with a real and imaginary part.z = 2 + 3j

In [ ]:
z = 2 + 3j

**2. Sequence Types**

String (str): A sequence of characters enclosed in single, double, or triple quotes.

In [ ]:
name = "Alice"
multiline_string = """This is a
multiline string."""

List (list): An ordered, mutable collection of items.

In [ ]:
numbers = [1, 2, 3, 4, 5]

Tuple (tuple): An ordered, immutable collection of items.

In [ ]:
coordinates = (10, 20)

**4Set Types**

Set (set): An unordered collection of unique items.

In [ ]:
unique_numbers = {1, 2, 3, 4, 5}

**5. Boolean Type**

Boolean (bool): Represents True or False

In [ ]:
is_active = True

# Conditional statements

Conditional statements in Python allow you to execute different blocks of code based on certain conditions. They help in making decisions in your code. Here’s a summary of the primary conditional statements in Python:

**1. if Statement**

The if statement evaluates a condition (an expression that returns True or False) and executes the block of code inside it if the condition is True.

# syntax

In [ ]:
if condition:
    # Code to execute if condition is True

In [ ]:
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

**2. if-else Statement**

The if-else statement provides an alternative block of code to execute when the condition is False.

# syntax

In [ ]:
if condition:
    # Code to execute if condition is True
else:
    # Code to execute if condition is False

In [ ]:
x = 4

if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

**3. if-elif-else Statement**

The if-elif-else statement allows you to check multiple conditions sequentially. If the if condition is False, it checks the elif conditions. If none of the conditions are True, it executes the else block.

## syntax

In [ ]:
if condition1:
    # Code to execute if condition1 is True
elif condition2:
    # Code to execute if condition2 is True
else:
    # Code to execute if none of the conditions are True

In [ ]:
x = 7

if x > 10:
    print("x is greater than 10")
elif x > 5:
    print("x is greater than 5 but not greater than 10")
else:
    print("x is 5 or less")

**4. Nested if Statements**

You can nest if statements inside other if statements to handle more complex scenarios.

# syntax

In [ ]:
if condition1:
    # Code to execute if condition1 is True
    if condition2:
        # Code to execute if condition2 is True
    else:
        # Code to execute if condition2 is False
else:
    # Code to execute if condition1 is False

In [ ]:
x = 8
y = 12

if x > 5:
    if y > 10:
        print("x is greater than 5 and y is greater than 10")
    else:
        print("x is greater than 5 but y is 10 or less")
else:
    print("x is 5 or less")